.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 600px;
  margin: auto;
  border: 1px solid #aaa;
  padding: 2rem;
  box-sizing: border-box;
  gap: 1rem;
}

.button,
.user-posts {
  grid-column: span 2;
}

th, td {
  padding: 5px;
  text-align: left;
}